{% extends "base.html" %}
{%load static%}
{% block class9 %}active{%endblock%}
{% block menu %}Profil{%endblock%}

{% block card %}
<div class="div-dashboard-principale" id="div-dashboard-principale">
    <div class="profile-container">
        <div class="profile-header">
            <img src="/media/{{user.media_profil_url}}" alt="Photo de profil" class="profile-pic">
            <div class="profile-info">
                <h2>{{user.nom}} {{user.prenom}}</h2>
                <p>Email: {{user.email}}</p>
                <p>Ethnie: {{user.ethnie}}</p>
                <p>Statut: <span id="account-status">Classique</span></p>
            </div>
        </div>
        <div class="profile-body">
            <p><strong>La durée limite d'utilisation d'un compte classique est de 5 jours. Passé cette durée, vous ne pourrez plus vous connecter à votre compte sans abonnement. <span style="color:red;">Cliquer sur changer de statut pour acheter un abonnement.</span></strong></p>
        </div>
        <div class="profile-actions">
            <button class="btn btn-secondary btn-dashboard" id="dash-modif-profil1">Modifier le profil</button>
            <button class="btn btn-danger" id="btn-dashboard1" onclick="">Changer de statut</button>
        </div>
    </div>
    {%if user.is_superuser%}
    <div id="div-dashboard-prime" class=" ">
        <div id="div-dashboard-prime1 row">
            <button class="btn btn-danger button-prime col-lg-12 col-md-12" style="font-size: 15px;" id="addEvent">Ajouter un événement</button>
            <button class="btn btn-danger button-prime2 col-lg-12 col-md-12" style="font-size: 15px;" id="addObjet">Ajouter un Objet à vendre</button>
            <button class="btn btn-danger button-prime2 col-lg-12 col-md-12" style="font-size: 15px;margin-bottom: 2%;" id="addNews">Ajouter une actualité</button>
        </div>
    </div>
    {%endif%}
</div>

{%if user.is_superuser%}
<div style="width: 100%;" id="affiche-things">
    <nav id="meenu-decouvr" style="background-color: rgb(161, 66, 66);font-weight: bold; font-size: 17px; width: 100%;">
        <ul>
            <li class="meenu-item uuniq " data-content="podcast">Evenements</li>
            <li class="meenu-item uuniq " data-content="image">Objets mis en vente</li>
            <li class="meenu-item uuniq " data-content="videos">Articles</li>
        </ul>
    </nav>

    <div id="content-sections">
        <div id="podcast" class="content-affich-section active">Contenu des Evenements</div>
        <div id="image" class="content-affich-section">Contenu des Objets mis en vente</div>
        <div id="videos" class="content-affich-section">Contenu des Articles</div>
    </div>

</div>
{%endif%}
<!-- Formulaire de modification de profil à afficher -->
<div style="display: none;" id="modif-afficher">
    <div class="form-container-das">
        <span id="responseMessage"></span>
        <div class="form-header-das">
            <img src="/media/{{user.media_profil_url}}" alt="Photo de profil" class="profile-pic-das" id="profile-pic-das">
            <div>
                <label for="profile-pic-upload" class="btn btn-secondary">Changer Photo</label>
                <input type="file" id="profile-pic-upload" style="display: none;" value="/media/{{user.media_profil_url}}" onchange="previewProfilePic(event)">
            </div>
        </div>
        <div class="form-body-das">
            <form id="profile-form-das" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group-das">
                    <input type="text" id="nom" name="nom" placeholder="{{user.nom}}" value="{{user.nom}}">
                </div>
                <div class="form-group-das">
                    <input type="text" id="prenom" name="prenom" placeholder="{{user.prenom}}" value="{{user.prenom}}">
                </div>
                <div class="form-group-das">
                    <input type="email" id="email" name="email" placeholder="{{user.email}}" value="{{user.email}}">
                </div>
                <div class="form-group-das">
                    <input type="password" name="password" id="password" placeholder="MOT DE PASSE ACTUEL" value="{{user.password}}" required>
                </div>
                <div class="form-group-das">
                    <input type="password" name="password-confirm" id="password-confirm" placeholder="NOUVEAU MOT DE PASSE" value="{{user.password}}" required>
                </div>
                <div class="form-actions-das">
                    <button type="button" class="btn btn-das btn-secondary" id="back-to-main1" onclick="cancelEdit()">Annuler</button>
                    <button type="submit" class="btn btn-das">Sauvegarder</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Formualaire d'ajout d'événement-->
<div style="display: none; padding-left: 20%;padding-right: 20%;" id="ajoutEvent">
    <div class="form-body-das">
        <h2>Ajouter un événement</h2>
        <form id="profile-form-event" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group-das">
                <input type="text" id="nomEvent" name="nomEvent" placeholder="nom de l'événement">
            </div>
            <div class="form-group-das">
                <input type="textarea" id="description" name="description" placeholder="Description">
            </div>
            <div class="form-group-das">
                <input type="text" id="lieu" name="lieu" placeholder="Lieu de l'événement">
            </div>
            <div class="form-group-das">
                <input type="date" id="dateEvent" name="dateEvent" placeholder="Date de l'événement">
            </div>
            <div class="form-group-das">
                <input type="number" name="prix" id="prix" placeholder="prix du ticket classique" required>
            </div>
            <div class="form-group-das">
                <input type="number" name="place" id="place" placeholder="nombre de place max" required>
            </div>
            <div class="form-group-das">
                <input type="file" name="image-ban" id="image-ban" placeholder="Une image en banière" required>
            </div>
            
            <div class="form-actions-das">
                <button type="button" class="btn btn-das btn-secondary" id="retour1">Annuler</button>
                <button type="submit" class="btn btn-das">Sauvegarder</button>
            </div>
        </form>
    </div>
</div>

<!--Formualaire d'ajout d'article à vendre-->
<div style="display: none; padding-left: 20%;padding-right: 20%;" id="ajoutObjet">
    <div class="form-body-das">
        <h2>Ajouter un objet à mettre en vente</h2>
        <form id="profile-form-objet" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group-das">
                <input type="text" id="nomObjet" name="nomObjet" placeholder="nom de l'objet">
            </div>
            <div class="form-group-das">
                <input type="text" id="auteur" name="auteur" placeholder="Nom de l'auteur">
            </div>
            <div class="form-group-das">
                <input type="textarea" id="descriptionObjet" name="descriptionObjet" placeholder="Description">
            </div>
            <div class="form-group-das">
                <input type="number" name="prixObjet" id="prixObjet" placeholder="prix du ticket classique" required>
            </div>
            <div class="form-group-das">
                <input type="file" name="image-Objet" id="image-Objet" placeholder="Une photo de l'ojet" required>
            </div>
            
            <div class="form-actions-das">
                <button type="button" class="btn btn-das btn-secondary" id="retour2">Annuler</button>
                <button type="submit" class="btn btn-das">Sauvegarder</button>
            </div>
        </form>
    </div>
</div>

<!--Formualaire d'ajout d'actualité-->
<div style="display: none; padding-left: 20%;padding-right: 20%;" id="ajoutNews">
    <div class="form-body-das">
        <h2>Ajouter un article à mettre en ligne</h2>
        <form id="profile-form-news" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group-das">
                <input type="text" id="title" name="title" placeholder="Titre de l'article">
            </div>
            <div class="form-group-das">
                <input type="textarea" id="contenue" name="contenue" placeholder="Coller ici le contenue">
            </div>
            <div class="form-group-das">
                <input type="file" name="image-News" id="image-News" placeholder="Une photo de l'ojet" required>
            </div>
            
            <div class="form-actions-das">
                <button type="button" class="btn btn-das btn-secondary" id="retour3">Annuler</button>
                <button type="submit" class="btn btn-das">Sauvegarder</button>
            </div>
        </form>
    </div>
</div>
{% if comment%}
    <div id="alerte" class="alert alerte-error">{{comment}}</div>
{%endif%}
<script src="{% static 'js/dashboard.js' %}" type="text/javascript"></script>
<script src="{% static 'js/affich.js' %}" type="text/javascript"></script>
{% endblock %}