{% extends "base.html" %}
{% load static %}
{% block class2 %}active{% endblock %}
{% block menu %}Decouvrir{% endblock %}
{% block statique %}
    <link rel="stylesheet" href="{% static 'css/decouvrir.css' %}">
{% endblock %}
{% block card %}
    <div class="card--wrapper">
            <div class="payment--card" style="background-color:green;">
                <div class="card--header">
                    Bénin
                </div>
            </div>

            <div class="payment--card" style="background-color:green;">
                <div class="card--header">
                    Ethnies
                </div>
            </div>

            <div class="payment--card" style="background-color:green;">
                <div class="card--header">
                    Chants & Danses
                </div>
            </div>

            <div class="payment--card" style="background-color:green;">
                <div class="card--header">
                    Ethnies
                </div>
            </div>

            <div class="payment--card" style="background-color:green;">
                <div class="card--header">
                    Langues
                </div>
            </div>

            <div class="payment--card" style="background-color:green;">
                <div class="card--header">
                    Divinites
                </div>
            </div>

            <div class="payment--card" style="background-color:green;">
                <div class="card--header">
                    Royautés
                </div>
            </div>

            <div class="payment--card" style="background-color:green;">
                <div class="card--header">
                    Gastronomie
                </div>
            </div>

            <div class="payment--card" style="background-color:green;">
                <div class="card--header">
                    Patrimoine
                </div>
            </div>
        
    </div>
{% endblock %}
