{% extends "base.html" %}
{% load static %}
{% block class2 %}active{% endblock %}
{% block menu %}Decouvrir{% endblock %}

{% block card %}
    <table class="custom-table">

        <tr style="height: 25%;">
            <td>
                Bénin
            </td>

            <td>
                Traditions & Coutumes
            </td>

            <td>
                Chants & Danses
            </td>
        </tr>

        <tr>
            <td>
                Ethnies
            </td>

            <td>
                Langues
            </td>

            <td>
                Gastronomie
            </td>
        </tr>

        <tr>
            <td>
                Divinités
            </td>

            <td>
                Royauté
            </td>

            <td>
                Patrimoine
            </td>
        </tr>

    </table>
{% endblock %}
