{% extends "base.html" %}
{%load static%}
{% block class7 %}active{%endblock%}
{% block menu %}Evénements{%endblock%}

{%block card%}
<div class="events-container">
    {%for event in events%}
    <div class="event-card" onclick="showEventDetails('{{event.id}}')">
        <img src="/media/{{event.media_profil_url}}" alt="Événement 1" class="event-image">
        <div class="event-content">
            <div class="event-status">{{event.statut}}</div>
            <div class="event-description">
                <h2 class="event-title">{{event.nom}}</h2>
                <p class="event-date">{{event.date}}</p>
                <p class="event-location">{{event.lieu}}</p>
                <p class="event-organizer">Par, {{user.nom}} {{user.prenom}}</p>
                <p class="event-price">{{event.prix_entree}} FCFA</p>
            </div>
        </div>
        <div>
            <button class="btn btn-primary col-lg-12">ACHETER</button>
        </div>
    </div>
    <div class="modal-event-detail" id="{{event.id}}">
        <div class="modal-content-event-detail">
            <span class="close-button-event-detail" onclick="closeEventDetails('{{event.id}}')">&times;</span>
            <div id="event-details-content">
                <img src="/media/{{event.media_profil_url}}" alt="" class="event-image">
                <div>
                    <h2 class="event-title" id="event-title-descript">{{event.nom}}</h2>
                    <p class="event-date"><i class="fas fa-calendar-alt"></i> {{event.date}}</p>
                    <p class="event-location"><i class="fas fa-map-marker-alt"></i> {{event.lieu}}</p>
                    <p class="event-organizer"><i class="fas fa-user"></i> Par, {{user.nom}} {{user.prenom}}</p>
                    <p class="event-price"><i class="fas fa-ticket-alt"></i> {{event.prix_entree}} FCFA</p>
                    <button class="btn btn-primary">ACHETER</button>
                </div>
            </div>
            <div>
                <h4 style="font-weight:bold;">Description:</h4>
                <p>{{event.description}}</p>
            </div>
        </div>
    </div>
    {%endfor%}
</div>

<script src="{% static 'js/evenement.js'%}" type="text/javascript"></script>
{%endblock%}