{% extends "base.html" %}
{%load static%}
{% block class3 %}active{%endblock%}
{% block menu %}Visiter{%endblock%}

{%block card%}
<h3>Sites historique</h3>
<div id="PourTous" style="height:100%; width:1000px;background-color:white;"></div>
<div class="carousel-container-visiter ccv4" id="carousel-container-visiter">
    <button class="carousel-button-visiter cbv4 left" onclick="scrollLeftt('cv4')">&#10094;</button>
    <div class="carousel-wrapper-visiter cwv4">
      <div class="carousel-visiter cv4">

      {%for site in sitehistorique%}
        <div class="card-visiter cav4">
          <img src="{{site.media_profil_url}}" alt="Monument Bio Guera">
          <div class="content-visiter cnv4">
            <h2>{{site.nom}}</h2>
            <p>{{site.description|slice:":52"}}</p>
            <button onclick="showVisiterDetails('{{site.id}}')">Visiter</button>
          </div>
        </div>

        <div class="modal-achat-detail" id="visterSite{{site.id}}" style="display:none; justify-content: space-between;height:100%;">
          <div class="modal-content-achat-detail">
              <span class="close-button-achat-detail" onclick="closeVisiterDetails('{{site.id}}')">&times;</span>
              <div>
                <div>
                  <img src="{{site.media_profil_url}}" alt="{{site.nom}}" style="margin-right:2%;float: left; height: 50%;width: 40%;">
                </div> 
                <div>
                    <h1 class="article-title" style="font-size: 25px;">{{site.nom}}</h1><br/>
                    <p style="font-size: 20px;text-align: justify;">{{site.description}}</p>
                </div>
              </div>
              <div>
x
              </div>
          </div>
        </div> 
      {%endfor%}

        <!-- Ajoutez plus de cartes ici -->
      </div>
    </div>
    <button class="carousel-button-visiter cbv4 right" onclick="scrollRight('cv4')">&#10095;</button>
  </div>

  <h3>Monuments</h3>
  <div class="carousel-container-visiter ccv">
    <button class="carousel-button-visiter cbv left" onclick="scrollLeftt('cv')">&#10094;</button>
    <div class="carousel-wrapper-visiter cwv">
      <div class="carousel-visiter cv">
      {%for monument in monuments%}
        <div class="card-visiter cav">
          <img src="{{monument.media_profil_url}}" alt="Monument Bio Guera">
          <div class="content-visiter cnv">
            <h2>{{monument.nom}}</h2>
            <p>{{monument.description|slice:":52"}}</p>
            <button onclick="showMonumDetails('{{monument.id}}')">Visiter</button>
          </div>
        </div>

        <div class="modal-achat-detail" id="visterMonument{{monument.id}}" style="display:none; justify-content: space-between;height:100%;">
          <div class="modal-content-achat-detail">
              <span class="close-button-achat-detail" onclick="closeMonumDetails('{{monument.id}}')">&times;</span>
              <div>
                <div>
                  <img src="{{monument.media_profil_url}}" alt="{{monument.nom}}" style="margin-right:2%;float: left; height: 50%;width: 40%;">
                </div> 
                <div>
                    <h1 class="article-title" style="font-size: 25px;">{{monument.nom}}</h1><br/>
                    <p style="font-size: 20px;text-align: justify;">{{monument.description}}</p>
                </div>
              </div>
              {% if monument.id == 1 %}
                <div class="visiting">
                  {%for x in guerra%}
                  <img src="{{x.media_url}}" alt="" height="250px" width="250px" style="padding-top: 3px; border-radius:10px;" class="img-visiting">
                  {%endfor%}
                </div>

                {% elif monument.id == 2 %}
                <div class="visiting">
                  {%for x in devoues%}
                    <img src="{{x.media_url}}" alt="" height="250px" width="250px" style="padding-top: 3px; border-radius:10px;" class="img-visiting">
                  {%endfor%}
                </div>

                {%else%}
                <div class="visiting">
                  {%for x in amazone%}
                    <img src="{{x.media_url}}" alt="" height="250px" width="250px" style="padding-top: 3px; border-radius:10px;" class="img-visiting">
                  {%endfor%}
                </div>
              {%endif%}
          </div>
        </div> 
      {%endfor%}
        <!-- Ajoutez plus de cartes ici -->
      </div>
    </div>
    <button class="carousel-button-visiter cbv right" onclick="scrollRight('cv')">&#10095;</button>
  </div>


  <h3>Musées</h3>
  <div class="carousel-container-visiter ccv1">
    <button class="carousel-button-visiter cbv1 left" onclick="scrollLeftt('cv1')">&#10094;</button>
    <div class="carousel-wrapper-visiter cwv1">
      <div class="carousel-visiter cv1">
      {%for musee in musees%}
        <div class="card-visiter cav1">
          <img src="{{musee.media_profil_url}}" alt="Monument Bio Guera">
          <div class="content-visiter cnv1">
            <h2>{{musee.nom}}</h2>
            <p>{{musee.description|slice:"52"}}</p>
            <button>Visiter</button>
          </div>
        </div>

        <div class="modal-achat-detail" id="musee{{musee.id}}" style="display:none; justify-content: space-between;height:100%;">
          <div class="modal-content-achat-detail">
              <span class="close-button-achat-detail" onclick="closeVisiterDetails('{{musee.id}}')">&times;</span>
              <div>
                <div>
                  <img src="{{musee.media_profil_url}}" alt="{{musee.nom}}" style="margin-right:2%;float: left; height: 50%;width: 40%;">
                </div> 
                <div>
                    <h1 class="article-title" style="font-size: 25px;">{{musee.nom}}</h1><br/>
                    <p style="font-size: 20px;text-align: justify;">{{musee.description}}</p>
                </div>
              </div>
              <div class="visiting">
                {%for x in guerra%}
                <img src="{{x.media_url}}" alt="" height="250px" width="250px" style="padding-top: 3px; border-radius:10px;" class="img-visiting">
                {%endfor%}
            </div>
          </div>
        </div> 
      {%endfor%}
        <!-- Ajoutez plus de cartes ici -->
      </div>
    </div>
    <button class="carousel-button-visiter cbv1 right" onclick="scrollRight('cv1')">&#10095;</button>
  </div>

  <h3>Parc national</h3>
  <div class="carousel-container-visiter ccv2">
    <button class="carousel-button-visiter cbv2 left" onclick="scrollLeftt('cv2')">&#10094;</button>
    <div class="carousel-wrapper-visiter cwv2">
      <div class="carousel-visiter cv2">
      {%for parc in parcs%}
        <div class="card-visiter cav2">
          <img src="{{parc.media_profil_url}}" alt="Monument Bio Guera">
          <div class="content-visiter cnv2">
            <h2>{{parc.nom}}</h2>
            <p>{{parc.description|slice:"52"}}</p>
            <button>Visiter</button>
          </div>
        </div>

        <div class="modal-achat-detail" id="parc{{parc.id}}" style="display:none; justify-content: space-between;height:100%;">
          <div class="modal-content-achat-detail">
              <span class="close-button-achat-detail" onclick="closeVisiterDetails('{{parc.id}}')">&times;</span>
              <div>
                <div>
                  <img src="/media/{{parc.media_profil_url}}" alt="{{parc.nom}}" style="margin-right:2%;float: left; height: 50%;width: 40%;">
                </div> 
                <div>
                    <h1 class="article-title" style="font-size: 25px;">{{parc.nom}}</h1><br/>
                    <p style="font-size: 20px;text-align: justify;">{{parc.description}}</p>
                </div>
              </div>
              <div class="visiting">
                {%for x in guerra%}
                <img src="/media/{{x.media_url}}" alt="" height="250px" width="250px" style="padding-top: 3px; border-radius:10px;" class="img-visiting">
                {%endfor%}
            </div>
          </div>
        </div> 
      {%endfor%}
        <!-- Ajoutez plus de cartes ici -->
      </div>
    </div>
    <button class="carousel-button-visiter cbv2 right" onclick="scrollRight('cv2')">&#10095;</button>
  </div>


  <h3>Reserve</h3>
  <div class="carousel-container-visiter ccv3">
    <button class="carousel-button-visiter cbv3 left" onclick="scrollLeftt('cv3')">&#10094;</button>
    <div class="carousel-wrapper-visiter cwv3">
      <div class="carousel-visiter cv3">
      {%for reserve in reserves%}
        <div class="card-visiter cav3">
          <img src="/media/{{reserve.media_profil_url}}" alt="Monument Bio Guera">
          <div class="content-visiter cnv3">
            <h2>{{reserve.nom}}</h2>
            <p>{{reserve.description|slice:"52"}}</p>
            <button>Visiter</button>
          </div>
        </div>

        <div class="modal-achat-detail" id="reserve{{reserve.id}}" style="display:none; justify-content: space-between;height:100%;">
          <div class="modal-content-achat-detail">
              <span class="close-button-achat-detail" onclick="closeVisiterDetails('{{reserve.id}}')">&times;</span>
              <div>
                <div>
                  <img src="/media/{{reserve.media_profil_url}}" alt="{{reserve.nom}}" style="margin-right:2%;float: left; height: 50%;width: 40%;">
                </div> 
                <div>
                    <h1 class="article-title" style="font-size: 25px;">{{reserve.nom}}</h1><br/>
                    <p style="font-size: 20px;text-align: justify;">{{reserve.description}}</p>
                </div>
              </div>
              <div>
x
              </div>
          </div>
        </div> 
      {%endfor%}
        <!-- Ajoutez plus de cartes ici -->
      </div>
    </div>
    <button class="carousel-button-visiter cbv3 right" onclick="scrollRight('cv3')">&#10095;</button>
  </div>
  <script src="{% static 'js/detailsVisiter.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/visiter.js' %}" type="text/javascript"></script>
{%endblock%}