@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
}

.slider {
    width: 100%;
    height: 100%;
    max-height: 100vh;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.list {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: left 0.5s ease-in-out;
}

.item {
    width: 100vw;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    background-color: rgba(155, 248, 243, 0.4);
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    backdrop-filter: blur(8px);
}

.text {
    color: white;
    font-size: 4.5em;
    font-weight: bold;
    text-align: center;
    z-index: 3; /* Assurez-vous que le texte est bien au-dessus de l'élément flou */
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    width: 70%;
}

div.item div.overlay div.him{
    background-color: #AE4C0B;
    border-radius: 10px;
    padding-bottom: 5%;
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
}
#image-index{
    position: absolute;
    top: 5px;
    left: 5px;
    height: 20px;
    width: 20px;
}
.text p{
    font-size: 20px;
    font-weight: normal;
    font-family: "Poppins", sans-serif;
}
.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    z-index: 3; /* Assurez-vous que les boutons*/
}

.buttons button {
    background-color: rgb(255, 255, 255, 0);
    border: none;
    cursor: pointer;
    color: #f8b044; /* Corrige la couleur de texte */
    font-size: 30px; /* Ajuste la taille de la police selon vos besoins */
    padding: 10px 20px; /* Ajoute du padding pour rendre les boutons plus visibles */
}

.buttons button:focus {
    outline: none; /* Supprime la bordure de focus si nécessaire */
}
.buttons {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: none;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.buttons button i{
    height: 100px;
}

a#start{
    margin-top: 15%;
    background-color: #FFCF87;
    color: #AE4C0B;
    padding: 10px;
    border-radius: 10px;
    font-size: 25px;
    text-decoration: none;
    border: 1px solid #AE4C0B;
}

#contenue img{
    width: 150px;
}
#contenue p{
    margin-bottom: 5%;
}


/* Propriété deuxième page à l'index */
.tab-content {
    display: none;
}
.tab-content.active {
    display: flex;
    position: relative;
}
.tab-content.active img{
    height: 500px;
    position: absolute;
    right: 0;
}
.tab-content.active h2{
    font-size: 2.5em;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    margin-bottom: 4%;
}

#content{
    border:0;
    background-color: #FFCF87;
    margin-block: 2%;
    height: 350px;
    max-height: 350px;
    width: 1100px;
    border-radius:10px;
    padding: 2%;
    transition-duration: 0.5s;

}
#descr{
    max-width: 650px;
    position: relative;

    height: 500px;

}

div.tab-content div p{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #AE4C0B;
}
#descr h2{
    color: white;
}
#descr #boutton{
    margin-top: 10px;
    position: absolute;
    bottom: 200px;
    left: 200px;
    font-size: 1.2em;
    font-weight: bold;
    padding-inline: 60px;
    padding-block: 15px;
    border-radius: 10px;
    border: 0;
    color: #AE4C0B;
    border: 2px solid #AE4C0B;
    background-color: rgb(231, 149, 41);
    transition-duration: 0.3s;
    font-family: "Poppins", sans-serif;
    text-decoration: none;

}
#descr button:active{
    background-color: rgb(231, 149, 41);
    font-size: 1.1em;
    padding-inline: 55px;
    padding-block: 12px;
    font-family: "Poppins", sans-serif;
}
#descr button:hover{

    transform: translateY(4px);
}

.tab-buttons button {
    cursor: pointer;
    padding-block: 1.5%;
    min-width: 150px;
    margin-inline: 2%;
    border: 0;
    border-radius: 10px;
    background-color: #FFCF87;
    font-weight: bold;
    color: white;
    font-size: 15px;
    font-family: "Poppins", sans-serif;


}
.tab-buttons button:focus{
    color: rgb(234, 169, 47);
    background-color:  #FFCF87;
    border: 4px solid rgb(234, 169, 47);
    font-weight: bold;
}
.tab-buttons {
    display: flex;
  justify-content: center;
    align-items: center;
    margin-top: 1%;

}
#bodyyy{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 25%;
    padding-right: 25%;
}


.pp{
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-top: 2%;
    text-align: center;
    width: 100%;
    color: white;
}
.pp span{
    color:rgb(144, 73, 50);
}